<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="/favicon.png">


        <style>
            img {
                max-width: 100%;
            }
        </style>

        <title>Journalclub Paper Voting</title>
        <meta name="description" content="Vote for the next paper">
        <meta name="author" content="Lars Haalck">
	{% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
          <a class="navbar-brand mb-0 h1" href="/">Vote for the next paper</a>
        </nav>
        <div class="container pt-3">
            {% if flash %}
                {% if flash.0 == "error" %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ flash.0 }}: {{ flash.1 }}
                    </div>
                {% else %}
                    <div class="alert alert-info mt-3" role="alert">
                        {{ flash.0 }}: {{ flash.1 }}
                    </div>
                {% endif %}
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
