{% extends "base" %}
{% block content %}
{% if winner %}
<div class="card mt-3">
  <div class="card-header">
    Next Paper unless you vote!
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ winner.title }}</h5>
    <hr>
    <div class="card-text">{{ winner.body | safe }}</div>
  </div>
</div>
{% else %}
<div class="alert alert-info mt-3" role="alert">
    No Papers votable at the moment!
</div>
{% endif %}
{% endblock %}
{% block head %}
{% endblock %}
