{% extends "base" %}
{% block content %}
{% for item in items %}
<details class="card">
    <summary class="card-body">
        <a href="/edit?id={{ item.id }}">
            <button type="submit" class="btn btn-warning">Edit...</button>
        </a>
        <b class="card-title d-inline">{{ item.title }}</b>
        <span class="float-right">{{ item.discussed_on }}</span>
    </summary>
    <hr>
    <div class="card-text pl-4">{{ item.html | safe }}</div>
</details>
{% endfor %}
{% endblock %}
